name: E2E Tests with Playwright
on:
    pull_request:
        branches: [main, develop]
jobs:
    build-and-test:
        timeout-minutes: 10
        runs-on:
            group: larger-runners
            labels: ubuntu-latest-8-cores
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
            - name: Install project dependencies
              run: npm i
            - name: Install Retail app package dependencies
              working-directory: ./packages/adyen-retail-react-app
              run: npm i
            - name: Install PWA package dependencies
              working-directory: ./packages/adyen-salesforce-pwa
              run: npm i
            - name: Build PWA
              working-directory: ./packages/adyen-salesforce-pwa
              run: npm run build-dev
            - name: Make PWA NPM Link
              working-directory: ./packages/adyen-salesforce-pwa
              run: npm link
            - name: Link PWA to Retail app
              working-directory: ./packages/adyen-retail-react-app
              run: npm link @adyen/adyen-salesforce-pwa
            - name: Install Playwright dependencies
              working-directory: ./packages/e2e-tests
              run: npm i
            - name: Install Playwright Browsers
              working-directory: ./packages/e2e-tests
              run: npx playwright install --with-deps
            - name: Start Webserver & Run Playwright tests
              working-directory: ./packages/e2e-tests
              run: npm run test
              env: 
                RefArch_ADYEN_API_KEY: ${{secrets.ADYEN_API_KEY}}
                RefArch_ADYEN_MERCHANT_ACCOUNT: ${{secrets.ADYEN_MERCHANT_ACCOUNT}}
                RefArch_ADYEN_CLIENT_KEY: ${{secrets.ADYEN_CLIENT_KEY}}
                RefArch_ADYEN_ENVIRONMENT: ${{secrets.ADYEN_ENVIRONMENT}}
                RefArch_ADYEN_WEBHOOK_USER: ${{ secrets.ADYEN_WEBHOOK_USER }}
                RefArch_ADYEN_WEBHOOK_PASSWORD: ${{ secrets.ADYEN_WEBHOOK_PASSWORD }}
                RefArch_ADYEN_HMAC_KEY: ${{ secrets.ADYEN_HMAC_KEY }}
                SYSTEM_INTEGRATOR_NAME: ${{ secrets.SYSTEM_INTEGRATOR_NAME }}
                COMMERCE_API_CLIENT_ID: ${{ secrets.COMMERCE_API_CLIENT_ID }}
                COMMERCE_API_ORG_ID: ${{ secrets.COMMERCE_API_ORG_ID }}
                COMMERCE_API_SHORT_CODE: ${{ secrets.COMMERCE_API_SHORT_CODE }}
                COMMERCE_API_SITE_ID: ${{ secrets.COMMERCE_API_SITE_ID }}
                COMMERCE_API_DEFAULT_SITE: ${{ secrets.COMMERCE_API_DEFAULT_SITE }}
                SCAPI_URL: ${{ secrets.SCAPI_URL }}
                OCAPI_URL: ${{ secrets.OCAPI_URL }}
                ENVIRONMENT_ID: ${{ secrets.ENVIRONMENT_ID }}
                PROJECT_ID: ${{ secrets.PROJECT_ID }}
                COMMERCE_API_CLIENT_ID_PRIVATE: ${{ secrets.COMMERCE_API_CLIENT_ID_PRIVATE }}
                COMMERCE_API_CLIENT_SECRET: ${{ secrets.COMMERCE_API_CLIENT_SECRET }}
                NODE_ENV: ${{ secrets.NODE_ENV }}
                E2E_PAYPAL_USERNAME: ${{secrets.E2E_PAYPAL_USERNAME}}
                E2E_PAYPAL_PASSWORD: ${{secrets.E2E_PAYPAL_PASSWORD}}
            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: ./packages/e2e-tests/playwright-report/
                  retention-days: 30
